@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moomin Mug Collection</h1>
    
    <p><em>Visualize your collections</em></p>

    <partial name="_HomepagePartial" />
</div>
<div class="image-text-container">
    <div class="image-text-layout">
        <img src="~/images/main_img.jpg" class="image-fill" alt="The whole Moomin family together."/>
        <div class="text-section">
            <h5>About Moomin Mug Collection</h5>
            <p>To dive into this wonderful world of adorable collectibles, our team has created a platform where you can visualize and show off your own Moomin mug collection.</p>
            <p>Stash all your mugs at one location, get stats on your collection, and compare with others.</p>
            <p>Make wishlists for the mugs you lack, and work toward creating a complete mug collection.</p>
        </div>
    </div>
</div>