.global-mugs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
}

.mug-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Elementene plasseres vertikalt */
    justify-content: space-between; /* Fordel innholdet jevnt */
}

.mug-image img {
    max-width: 100%;
    height: auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-container .custom-btn {
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 14px;
}

.mug-content {
    display: flex;
    flex-direction: column; /* Stack mug-details and global-collection-btn */
    justify-content: space-between; /* Push button to the bottom */
    flex-grow: 1; /* Allow content to grow to fill space */
}

.global-collection-btn {
    margin-top: auto;
}