@model IEnumerable<moomug_project.Models.MyCollection>

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
var user = await UserManager.GetUserAsync(User);
}

@if (user == null) // Check if user is logged in or not
{
    <div class="message">
        <h2 class="display-4">You are not logged in</h2>
        <p>To view your collection, please log in or register an account.</p>
        <div class="row justify-content-left align-items-center">
            <a class="nav-link align-items-center custom-btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-link align-items-center custom-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}
else
{
    if (Model == null || !Model.Any())
    {
        <div class="message">
            <h2 class="display-4">Your Collection is Empty</h2>
            <p>You currently do not have any mugs added to your collection.</p>
            <a asp-action="Index" asp-controller="GlobalCollection">Browse Global Collection</a>
        </div>
    }
    else
    {
        <h2 class="display-4"> @user.Nickname's Moomin Mug Collection</h2>
        <div>
            @await Html.PartialAsync("_MyMugsPartial", Model)
        </div>
    }
}